openapi: 3.2.0
info:
  title: Redocly Cafe
  description: |
    Demo API for cafe operators (not customers) to manage menus, orders, and revenue.
    Create API credentials and try it yourself in a realistic OpenAPI workflow.
  version: 1.0.0
  contact:
    email: team@redocly.com
    url: https://redocly.com/contact-us/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://redocly.com/subscription-agreement
servers:
  - url: https://api.cafe.redocly.com
    description: Live server.
tags:
  - name: Authorization
    description: Create a client to demo the API.
  - name: Products
    description: Operations related to products.
  - name: Orders
    description: Order management operations.
  - name: Statistics
    description: Statistics operations.
paths:
  /menu:
    $ref: paths/menu.yaml
  /menu/{menuItemId}:
    $ref: paths/menu_{menuItemId}.yaml
  /menu-item-images/{menuItemId}:
    $ref: paths/menu-item-images_{menuItemId}.yaml
  /orders:
    $ref: paths/orders.yaml
  /orders/{orderId}:
    $ref: paths/orders_{orderId}.yaml
  /order-items:
    $ref: paths/order-items.yaml
  /revenue:
    $ref: paths/revenue.yaml
  /oauth2/register:
    $ref: paths/oauth2_register.yaml
webhooks:
  order-notification:
    $ref: webhooks/order-notification.yaml
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: |
        OAuth2 authorization for API access. The token endpoint accepts `grant_type=authorization_code`, `grant_type=client_credentials`, and `grant_type=refresh_token`.

        ### Differences from the OAuth2 specifications

        A standard OAuth2 client library can drive these flows, with the following to account for.

        Two behaviors do not conform to the specifications:

        - **Errors use RFC 9457 problem+json, not RFC 6749 Section 5.2.** Failures return `application/problem+json` with `type`, `title`, `status`, and `instance`. There is no `error` or `error_description` field, so the standard codes (`invalid_grant`, `invalid_client`, `unsupported_grant_type`) never appear — branch on the HTTP status and `title` instead. A refresh token that is expired, already rotated, or unrecognized returns `400` with a `title` of `Refresh token has expired` or `Invalid refresh token`, where a conformant server would return `error: invalid_grant`.
        - **`refresh_token` is not a registrable grant type.** RFC 7591 Section 2 lists it, but `/oauth2/register` accepts only `authorization_code` and `client_credentials` in `grantTypes`. Refreshing requires no registration: holding a refresh token issued to the client is the authorization. A consequence is that refresh capability cannot be disabled per client — every `authorization_code` grant returns a refresh token, so a client intended for a shared or public device cannot be registered without one.

        Two are choices the specifications leave to the server:

        - **Refresh tokens rotate on every use.** A successful refresh retires the token presented and returns a replacement in `refresh_token`, as RFC 6749 Section 6 permits and the OAuth2 Security Best Current Practice recommends. Store the new value; the old one stops working. Refresh tokens expire 30 days after they are issued, and rotation restarts that window. The authorization code flow returns a refresh token with every access token; the client credentials flow returns none (RFC 6749 Section 4.4.3).
        - **`scope` accepts commas.** The space-delimited form required by RFC 6749 is always accepted and recommended; comma-separated values are additionally tolerated.
      flows:
        authorizationCode:
          authorizationUrl: https://api.cafe.redocly.com/oauth2/authorize
          tokenUrl: https://api.cafe.redocly.com/oauth2/token
          refreshUrl: https://api.cafe.redocly.com/oauth2/token
          scopes:
            menu:read: Read access to menu items and images
            menu:write: Write access to menu items (create, delete)
            orders:read: Read access to orders
            orders:write: Write access to orders (create, update, delete)
            revenue:read: Read access to revenue statistics
        clientCredentials:
          tokenUrl: https://api.cafe.redocly.com/oauth2/token
          scopes:
            menu:read: Read access to menu items and images
            menu:write: Write access to menu items (create, delete)
            orders:read: Read access to orders
            orders:write: Write access to orders (create, update, delete)
            revenue:read: Read access to revenue statistics
    ApiKey:
      type: apiKey
      name: X-API-Key
      in: header
      description: API key for internal operations.
