openapi: 3.2.0
info:
  title: Redocly Cafe
  description: |
    Demo API for cafe operators (not customers) to manage menus, orders, and revenue.
    Create API credentials and try it yourself in a realistic OpenAPI workflow.
  version: 1.0.0
  contact:
    email: team@redocly.com
    url: https://redocly.com/contact-us/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://redocly.com/subscription-agreement
servers:
  - url: https://api.cafe.redocly.com
    description: Live server.
tags:
  - name: Authorization
    description: Create a client to demo the API.
  - name: Products
    description: Operations related to products.
  - name: Orders
    description: Order management operations.
  - name: Statistics
    description: Statistics operations.
paths:
  /menu:
    $ref: paths/menu.yaml
  /menu/{menuItemId}:
    $ref: paths/menu_{menuItemId}.yaml
  /menu-item-images/{menuItemId}:
    $ref: paths/menu-item-images_{menuItemId}.yaml
  /orders:
    $ref: paths/orders.yaml
  /orders/{orderId}:
    $ref: paths/orders_{orderId}.yaml
  /order-items:
    $ref: paths/order-items.yaml
  /revenue:
    $ref: paths/revenue.yaml
  /oauth2/register:
    $ref: paths/oauth2_register.yaml
webhooks:
  order-notification:
    $ref: webhooks/order-notification.yaml
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: |
        OAuth2 authorization for API access.

        The token endpoint also accepts `grant_type=refresh_token` to exchange a refresh token for a new access token without user interaction.
        The authorization code flow returns a refresh token with every access token; the client credentials flow returns none.
        Each refresh is rotated: the presented refresh token is retired and a replacement is returned, so a client must store the new value and stop using the old one. Refresh tokens expire 30 days after they are issued.
      flows:
        authorizationCode:
          authorizationUrl: https://api.cafe.redocly.com/oauth2/authorize
          tokenUrl: https://api.cafe.redocly.com/oauth2/token
          refreshUrl: https://api.cafe.redocly.com/oauth2/token
          scopes:
            menu:read: Read access to menu items and images
            menu:write: Write access to menu items (create, delete)
            orders:read: Read access to orders
            orders:write: Write access to orders (create, update, delete)
            revenue:read: Read access to revenue statistics
        clientCredentials:
          tokenUrl: https://api.cafe.redocly.com/oauth2/token
          scopes:
            menu:read: Read access to menu items and images
            menu:write: Write access to menu items (create, delete)
            orders:read: Read access to orders
            orders:write: Write access to orders (create, update, delete)
            revenue:read: Read access to revenue statistics
    ApiKey:
      type: apiKey
      name: X-API-Key
      in: header
      description: API key for internal operations.
