openapi: 3.2.0
info:
  title: Redocly Cafe
  description: |
    Demo API for cafe operators (not customers) to manage menus, orders, and revenue.
    Create API credentials and try it yourself in a realistic OpenAPI workflow.
  version: 1.0.0
  contact:
    email: team@redocly.com
    url: https://redocly.com/contact-us/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://redocly.com/subscription-agreement
servers:
  - url: https://api.cafe.redocly.com
    description: Live server.
tags:
  - name: Authorization
    description: Create a client to demo the API.
  - name: Products
    description: Operations related to products.
  - name: Orders
    description: Order management operations.
  - name: Statistics
    description: Statistics operations.
paths:
  /menu:
    $ref: paths/menu.yaml
  /menu/{menuItemId}:
    $ref: paths/menu_{menuItemId}.yaml
  /menu-item-images/{menuItemId}:
    $ref: paths/menu-item-images_{menuItemId}.yaml
  /orders:
    $ref: paths/orders.yaml
  /orders/{orderId}:
    $ref: paths/orders_{orderId}.yaml
  /order-items:
    $ref: paths/order-items.yaml
  /revenue:
    $ref: paths/revenue.yaml
  /oauth2/register:
    $ref: paths/oauth2_register.yaml
  /oauth2/register/{clientId}:
    $ref: paths/oauth2_register_{clientId}.yaml
  /oauth2/token:
    $ref: paths/oauth2_token.yaml
  /oauth2/revoke:
    $ref: paths/oauth2_revoke.yaml
  /.well-known/oauth-authorization-server:
    $ref: paths/well-known_oauth-authorization-server.yaml
webhooks:
  order-notification:
    $ref: webhooks/order-notification.yaml
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: |
        OAuth2 authorization for API access. The token endpoint accepts `grant_type=authorization_code`, `grant_type=client_credentials`, and `grant_type=refresh_token`.
        Standard OAuth2 client libraries can drive these flows unmodified; server capabilities are discoverable from the [RFC 8414 metadata endpoint](https://api.cafe.redocly.com/.well-known/oauth-authorization-server).

        ### Protocol behavior

        - **Errors follow RFC 6749 Section 5.2 and RFC 7591 Section 3.2.2.** The OAuth2 endpoints return `{"error": ..., "error_description": ...}` with the standard codes (`invalid_grant`, `invalid_client`, `unsupported_grant_type`, `invalid_scope`, `invalid_client_metadata`, ...). The rest of the API uses RFC 9457 problem+json.
        - **Client authentication.** Both `client_secret_basic` (HTTP Basic per RFC 6749 Section 2.3.1) and `client_secret_post` (credentials in the form body) are accepted at the token and revocation endpoints, but not both in one request.
        - **PKCE (RFC 7636) is supported** for the authorization code flow with the `S256` and `plain` challenge methods (`S256` recommended). When an authorization request carries a `code_challenge`, the token exchange requires the matching `code_verifier`.
        - **Refresh tokens rotate on every use.** A successful refresh retires the token presented and returns a replacement in `refresh_token`, as RFC 6749 Section 6 permits and RFC 9700 recommends. Store the new value; the old one stops working. Refresh tokens expire 30 days after they are issued, and rotation restarts that window. The authorization code flow returns a refresh token only when the client is registered for the `refresh_token` grant type; the client credentials flow returns none (RFC 6749 Section 4.4.3).
        - **Authorization responses carry `iss`** (RFC 9207) alongside `code` and `state`.
        - **Tokens can be revoked** at the [revocation endpoint](https://api.cafe.redocly.com/oauth2/revoke) (RFC 7009), and client registrations managed via RFC 7592 using the `registration_access_token`.
        - **`scope` accepts commas.** The space-delimited form required by RFC 6749 is always accepted and recommended; comma-separated values are additionally tolerated.
      oauth2MetadataUrl: https://api.cafe.redocly.com/.well-known/oauth-authorization-server
      flows:
        authorizationCode:
          authorizationUrl: https://api.cafe.redocly.com/oauth2/authorize
          tokenUrl: https://api.cafe.redocly.com/oauth2/token
          refreshUrl: https://api.cafe.redocly.com/oauth2/token
          scopes:
            menu:read: Read access to menu items and images
            menu:write: Write access to menu items (create, delete)
            orders:read: Read access to orders
            orders:write: Write access to orders (create, update, delete)
            revenue:read: Read access to revenue statistics
        clientCredentials:
          tokenUrl: https://api.cafe.redocly.com/oauth2/token
          scopes:
            menu:read: Read access to menu items and images
            menu:write: Write access to menu items (create, delete)
            orders:read: Read access to orders
            orders:write: Write access to orders (create, update, delete)
            revenue:read: Read access to revenue statistics
    ApiKey:
      type: apiKey
      name: X-API-Key
      in: header
      description: API key for internal operations.
